<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand mr-3" href="#">
            <img src="../../../assets/img/navbar_logo.png" alt="" width="40" class="d-inline-block align-top">
            Ecommerce
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav me-auto  mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link " [routerLink]="[ '/home']" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link " [routerLink]="[ '/home']" aria-current="page" href="#">Productos</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link " [routerLink]="[ '/administrar']">Administrar</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="[ '/longIn']">Log In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
